/* Meta.css */
.wrapper {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, black, #281f0b);
}

.movie-card {
  color: #fff;
  height: 450px;
  display: flex;
  padding: 50px 50px;
  margin: 0 auto;
  max-width: fit-content;
}

.card-details {
  width: 90%;
  padding: 30px;
  margin-top: 0px;
}

.card-right {
  border-radius: 2px;
}

.card-categories {
  display: flex;
  margin-left: -7px;
  max-width: fit-content;
  justify-content: space-between;
}

.card-categories p:not(:last-child)::after {
  content: " | "; /* pipe separator */
  color: #fff; /* color of separator */
}

.btn,
.movie-genre,
.movie-duration,
.movie-rating,
.release-year {
  padding-left: 10px;
  border-radius: 15px;
}

.btn,
.movie-rating {
  transition: 200ms ease-in-out;
  background: linear-gradient(to left, black, #ffcc66);
}

.btn:hover {
  transform: scale(1.1);
}

.btn,
.movie-label {
  margin-top: 30px;
}

.btn,
.movie-description {
  font-weight: 100;
}

.btn,
.card-details h1 {
  color: white;
}

.btn {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 12px;
  border-radius: 12px;
}

.card-details h1 {
  font-size: 30px;
}

.movie-description {
  line-height: 27px;
  max-width: 700px;
}

.rating p,
.card-categories p {
  color: #ccc;
  font-weight: 50; /* Makes font thinner */
  letter-spacing: 1.5px; /* Increase the spacing between character */
}

.play-button,
.rating {
  display: flex;
  align-items: center;
}

.play-button p {
  margin-top: 8px;
  margin-left: 10px; /* Adjust as needed */
}

.rating p {
  margin-left: 5px; /* Adjust as needed */
}

.card-right img {
  border-radius: 8px;
  height: 450px;
}

.movie-label {
  color: #ffcc66;
  font-weight: bold;
}

.movie-rating,
.movie-genre,
.movie-duration,
.release-year {
  color: #ccc; /* Light gray color */
}

button {
  height: 50px;
  color: #fff;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 12px;
  margin-top: 30px;
  background: linear-gradient(
    to left,
    black,
    /* Black as the starting color */ #ffcc66 /* #ffcc66 as the ending color */
  );
  border-radius: 12px;
  transition: 200ms ease-in-out;
}

button:hover {
  transform: scale(1.1);
}
