.browse_container {
  display: flex;
  align-items: center;
  margin-top: 60px;
  user-select: none;
  width: 100%;
  height: fit-content;
  background-color: black;
}

.main_container {
  background-color: black;
}
.items:hover .item:not(:hover) {
  filter: blur(3px);
}

.items {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.items::-webkit-scrollbar {
  display: none;
}

.button i {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.item {
  position: relative;
  flex: 0 0 auto;
  background-color: black;
  cursor: pointer;
  object-fit: cover;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

.item:hover {
  transform: scale(1.05);
  opacity: 1;
}

.item:hover .opacity-none {
  opacity: 1;
}

.item .item-load-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.item .opacity-none {
  opacity: 0;
}

.item img.item-image {
  width: 220px;
  height: 330px;
  object-fit: cover;
  border-radius: 5px;
}

.button {
  position: absolute;
  color: #f6f6f6;
  font-size: 30px;
  border: 1px solid #f6f6f6;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  box-shadow: 0px 0px 50px #ffffff;
}

.carousel-text {
  user-select: none;
  position: relative;
  top: 55px;
  left: 25px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  z-index: 10;
}
